<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css"/>
</head>
<body>
<div class="page-wrap">
  <h1>Handlebars Tutorial</h1>
  <div id="pets-container"></div>
</div>
<script id="petsTemplate" type="text/x-handlebars-template">
{{#each .}}
    <h3>{{albumId}}</h3>
    <h2>{{id}}</h2>
    <h1>{{title}}</h1>
    <a href="{{url}}"></a>
    <img src="{{thumbnailUrl}}" />
{{/each}}
</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js"></script>
<script src="scripts.js"></script>


</body>

</html>